# SQL Data Analysis Project on the Chinook Database

In this project, we're going to perform a comprehensive data analysis on the Chinook Database. The Chinook Database holds information about a music store. It contains 11 tables, namely: 'Employee', 'Customer', 'Invoice', 'InvoiceLine', 'Artist', 'Album', 'Track', 'Genre', 'MediaType', 'Playlist', and 'PlaylistTrack'.

My goals for this project are as follows:

1. Inspect all tables in the database: I will write a SQL query to fetch the contents of each table, display the first few rows, and understand the structure of the data.

2. Check for missing data: I will write a function to iterate over each table and column, checking for any missing values.

3. Answer 20 business questions using SQL: These questions will allow me to explore a variety of SQL queries, enhancing my understanding and showcasing my SQL skills.

4. Visualize the results: After querying the database, I'll use Python and Matplotlib to create visualizations that will help me better understand the data and my findings.

Here are 20 questions:

1. What is the total revenue per country?
2. Who are the top 5 customers by revenue?
3. What are the top 10 best selling tracks?
4. What percentage of total revenue does each country contribute?
5. What are the top 5 albums by sales?
6. What percentage of total sales does each genre represent?
7. Who are the top 3 employees by sales?
8. What is the sales data per year?
9. What is the sales data per month?
10. How many customers does each employee support?
11. What percentage of total sales does each media type represent?
12. How many playlists include each track?
13. What is the total time length of all tracks sold per genre?
14. What percentage of total revenue does each media type contribute?
15. What are the top 5 countries by invoice count?
16. What is the distribution of sales among the different billing cities?
17. How many invoices were there each year?
18. How many tracks are there in each playlist?
19. What is the average invoice total per country?
20. What is the average number of tracks per album?

In [ ]:
# Importing the required libraries
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Creating a connection
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

In [ ]:
# Looking at all the tables in the databse
query_all = "SELECT name FROM sqlite_master WHERE type='table';"
df_tables = pd.read_sql_query(query_all, conn)
df_tables

In [ ]:
# function to display top 5 data from each tables in the database
def inspect_tables(conn):
    # Fetch all table names
    query = "SELECT name FROM sqlite_master WHERE type='table';"
    df_tables = pd.read_sql_query(query, conn)
    table_names = df_tables['name'].tolist()

    # Loop through each table and display the first few rows
    for table_name in table_names:
        query_table = f"SELECT * FROM {table_name};"
        df_table = pd.read_sql_query(query_table, conn)
        print(f"Table: {table_name}")
        display(df_table.head())
        print("\n" + "=" * 100 + "\n")  # Print a separator line


# function to check missing values in any tables in the database
def check_missing_values(conn):
    # Fetch all table names
    query = "SELECT name FROM sqlite_master WHERE type='table';"
    df_tables = pd.read_sql_query(query, conn)
    table_names = df_tables['name'].tolist()

    # Loop through each table and check for missing values
    for table_name in table_names:
        query_table = f"SELECT * FROM {table_name};"
        df_table = pd.read_sql_query(query_table, conn)
        print(f"Table: {table_name}")
        print(df_table.isnull().sum())  # Print the number of missing values in each column
        print("\n" + "=" * 100 + "\n")  # Print a separator line

In [ ]:
# Inspect all tables
inspect_tables(conn)

In [ ]:
# Check for missing values in all tables
check_missing_values(conn)

From the above output, we can see that there are some missing values but in this case for all 20 questions those missing values do not affect at all. So, for now I am not going to deal with those missing values. I will just move forward with the queries and visualization, keeping the presence of these missing values in mind.

#### Functions to plot different figures

In [ ]:
# Bargraph
def plot_bar(df, x, y, title, xlabel, ylabel, color='skyblue'):
    plt.figure(figsize=(12,6))
    plt.bar(df[x], df[y], color=color)
    plt.title(title)
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)
    plt.show()

# Horizontal Bargraph 
def plot_barh(df, x, y, title, xlabel, ylabel, color='skyblue'):
    plt.figure(figsize=(12,6))
    df = df.iloc[::-1]  # Reverse the DataFrame for a better chart
    plt.barh(df[x], df[y], color=color)
    plt.title(title)
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)
    plt.show()

# Pie-chart

colors = ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd",
          "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf", "#A52A2A"]

def plot_pie(df, x, y, title, colors):
    plt.figure(figsize=(8,8))
    plt.pie(df[y], labels=df[x], autopct='%1.1f%%', colors=colors)
    plt.title(title)
    plt.show()

# Scatter plot
def plot_scatter(df, x, y, title, xlabel, ylabel, color='skyblue'):
    plt.figure(figsize=(12,6))
    plt.scatter(df[x], df[y], color=color)
    plt.title(title)
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)
    plt.show()

# Line plot
def plot_line(df, x, y, title, xlabel, ylabel, color='skyblue'):
    plt.figure(figsize=(12,6))
    plt.plot(df[x], df[y], color=color)
    plt.title(title)
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)
    plt.show()

# Histogram
def plot_hist(df, x, title, xlabel, ylabel, bins=10, color='skyblue'):
    plt.figure(figsize=(12,6))
    plt.hist(df[x], bins=bins, color=color)
    plt.title(title)
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)
    plt.show()

Now, I will use sql queries to answer the 20 questions and then above functions to plot the figures to visualize the answers.

1. What is the total revenue per country?

In [ ]:
# 1. Total revenue per country
query_1 = """
    SELECT 
        BillingCountry, 
        SUM(Total) as TotalRevenue
    FROM 
        Invoice
    GROUP BY 
        BillingCountry
    ORDER BY 
        TotalRevenue DESC;
    """

# Fetch data into a pandas DataFrame
df1 = pd.read_sql_query(query_1, conn)

# Display the head of the dataframe 
df1.head(5)

In [ ]:
# Plot the data
plot_barh(df1, 'BillingCountry', 'TotalRevenue', 'Total Revenue by Country', 'Total Revenue', 'Country')

2. Who are the top 5 customers by revenue?

In [ ]:
# 2. Top 5 customers by revenue
query_2 = """
    SELECT 
        c.FirstName || ' ' || c.LastName as FullName, 
        SUM(i.Total) as TotalSpent
    FROM 
        Customer c
    JOIN 
        Invoice i ON c.CustomerId = i.CustomerId
    GROUP BY 
        FullName
    ORDER BY 
        TotalSpent DESC
    LIMIT 5;
    """

# Fetch data into a pandas DataFrame
df2 = pd.read_sql_query(query_2, conn)

# Display the head of the dataframe 
df2.head(5)

In [ ]:
# Plot the data
plot_bar(df2, 'FullName', 'TotalSpent', 'Top 5 customers by revenue', 'Customer', 'Total Spent')

3. What are the top 10 best selling tracks?

In [ ]:
# 3. Top 10 best selling tracks
query_3 = """
    SELECT 
        t.Name as TrackName, 
        COUNT(il.InvoiceLineId) as TotalSold
    FROM 
        Track t
    JOIN 
        InvoiceLine il ON t.TrackId = il.TrackId
    GROUP BY 
        TrackName
    ORDER BY 
        TotalSold DESC
    LIMIT 10;
    """

# Fetch data into a pandas DataFrame
df3 = pd.read_sql_query(query_3, conn)

# Display the head of the dataframe 
df3.head(5)

In [ ]:
# Plot the data
plot_barh(df3, 'TrackName', 'TotalSold', 'Top 10 best selling tracks', 'Sold', 'Track')

4. What percentage of total revenue does each country contribute?

In [ ]:
# 4. Percentage of total revenue by each country
query_4 = """
    SELECT 
        BillingCountry, 
        SUM(Total) as TotalRevenue 
    FROM 
        Invoice 
    GROUP BY 
        BillingCountry;
    """

# Fetch data into a pandas DataFrame
df4 = pd.read_sql_query(query_4, conn)

# Sort the dataframe by 'TotalRevenue'
df4 = df4.sort_values(by='TotalRevenue', ascending=False)

# Create a new dataframe with the top 10
top_10 = df4[:10].copy()

# Create a new row for 'Others'
new_row_df4 = pd.DataFrame(data = {
    'BillingCountry' : ['Others'],
    'TotalRevenue' : [df4['TotalRevenue'][10:].sum()]
})

# Concatenate the top 10 dataframe with the new 'Others' row
final_df4 = pd.concat([top_10, new_row_df4])

# Calculating the percentage
final_df4['Percentage'] = (final_df4['TotalRevenue'] / final_df4['TotalRevenue'].sum()) * 100


# Display the head of the dataframe 
final_df4.head(5)

In [ ]:
# Plot the data
plot_pie(final_df4, 'BillingCountry', 'Percentage', 'Percentage of Total Revenue by Country', colors)

5. What are the top 5 albums by sales?

In [ ]:
# 5. Top 5 albums by sales
query_5 = """
    SELECT 
        a.Title as Album, 
        COUNT(il.InvoiceLineId) as TotalSold
    FROM 
        Album a
    JOIN 
        Track t ON a.AlbumId = t.AlbumId
    JOIN 
        InvoiceLine il ON t.TrackId = il.TrackId
    GROUP BY 
        Album
    ORDER BY 
        TotalSold DESC
    LIMIT 5;
    """

# Fetch data into a pandas DataFrame
df5 = pd.read_sql_query(query_5, conn)

# Display the head of the dataframe 
df5.head(5)

In [ ]:
# Plot the data
plot_bar(df5, 'Album', 'TotalSold', 'Top 5 albums by sales', 'Total Sold', 'Album')

6. What percentage of total sales does each genre represent?

In [ ]:
# 6. Percentage of total sales each genre represent
query_6 = """
    SELECT 
        g.Name, 
        COUNT(il.InvoiceLineId) as TotalSales 
    FROM 
        Genre g 
    JOIN 
        Track t ON g.GenreId = t.GenreId 
    JOIN 
        InvoiceLine il ON t.TrackId = il.TrackId 
    GROUP BY 
        g.Name;
    """

# Fetch data into a pandas DataFrame
df6 = pd.read_sql_query(query_6, conn)

# Sort the dataframe by 'TotalSales'
df6 = df6.sort_values(by='TotalSales', ascending=False)

# Create a new dataframe with the top 10
top_10_df6 = df6[:10].copy()

# Create a new row for 'Others'
new_row_df6 = pd.DataFrame(data = {
    'Name' : ['Others'],
    'TotalSales' : [df6['TotalSales'][10:].sum()]
})

# Concatenate the top 10 dataframe with the new 'Others' row
final_df6 = pd.concat([top_10_df6, new_row_df6])

# Calculating the percentage
final_df6['Percentage'] = (final_df6['TotalSales'] / final_df6['TotalSales'].sum()) * 100

# Display the head of the dataframe 
final_df6.head(5)

In [ ]:
# Plot the data
plot_pie(final_df6, 'Name', 'Percentage', 'Percentage of Total Sales by Genre', colors)

7. Who are the top 3 employees by sales?

In [ ]:
# 7. Top 3 employees by sales
query_7 = """
    SELECT 
        e.FirstName || ' ' || e.LastName as FullName, 
        SUM(i.Total) as TotalSales
    FROM 
        Employee e
    JOIN 
        Customer c ON e.EmployeeId = c.SupportRepId
    JOIN 
        Invoice i ON c.CustomerId = i.CustomerId
    GROUP BY 
        FullName
    ORDER BY 
        TotalSales DESC
    LIMIT 3;
    """

# Fetch data into a pandas DataFrame
df7 = pd.read_sql_query(query_7, conn)

# Display the head of the dataframe 
df7.head(3)

In [ ]:
# Plot the data
plot_bar(df7, 'FullName', 'TotalSales', 'Top 3 employees by sales', 'Employee', 'Total Sales')

8. What is the sales data per year?

In [ ]:
# 8. Sales data per year
query_8 = """
    SELECT 
        strftime('%Y', i.InvoiceDate) as Year, 
        SUM(i.Total) as TotalSales
    FROM 
        Invoice i
    GROUP BY 
        Year
    ORDER BY 
        Year;
    """

# Fetch data into a pandas DataFrame
df8 = pd.read_sql_query(query_8, conn)

# Display the head of the dataframe 
df8.head(5)

In [ ]:
# Plot the data
plot_line(df8, 'Year', 'TotalSales', 'Sales data per year', 'Year', 'Total Sales')

9. What is the sales data per month?

In [ ]:
# 9. Sales data per month
query_9 = """
    SELECT 
        strftime('%Y-%m', i.InvoiceDate) as Month, 
        SUM(i.Total) as TotalSales
    FROM 
        Invoice i
    GROUP BY 
        Month
    ORDER BY 
        Month;
    """

# Fetch data into a pandas DataFrame
df9 = pd.read_sql_query(query_9, conn)

# Display the head of the dataframe 
df9.head(5)

In [ ]:
# Plot the data
plot_line(df9, 'Month', 'TotalSales', 'Sales data per month', 'Month', 'Total Sales')

10. How many customers does each employee support?

In [ ]:
# 10. Number of customers each employee supports
query_10 = """
    SELECT 
        e.FirstName || ' ' || e.LastName as FullName, 
        COUNT(c.CustomerId) as TotalCustomers
    FROM 
        Employee e
    JOIN 
        Customer c ON e.EmployeeId = c.SupportRepId
    GROUP BY 
        FullName
    ORDER BY 
        TotalCustomers DESC;
    """

# Fetch data into a pandas DataFrame
df10 = pd.read_sql_query(query_10, conn)

# Display the head of the dataframe 
df10.head(5)

In [ ]:
# Plot the data
plot_bar(df10, 'FullName', 'TotalCustomers', 'Number of customers each employee supports', 'Employee', 'Total Customers')

11. What percentage of total sales does each media type represent?

In [ ]:
# 11. Percentage of total sales by each media type
query_11 = """
    SELECT 
        mt.Name, 
        COUNT(il.InvoiceLineId) as TotalSales 
    FROM 
        MediaType mt 
    JOIN 
        Track t ON mt.MediaTypeId = t.MediaTypeId 
    JOIN 
        InvoiceLine il ON t.TrackId = il.TrackId 
    GROUP BY 
        mt.Name;
    """

# Fetch data into a pandas DataFrame
df11 = pd.read_sql_query(query_11, conn)

# Sort the dataframe by 'TotalSales'
df11 = df11.sort_values(by='TotalSales', ascending=False)

# Create a new dataframe with the top 3
top_3_df11 = df11[:3].copy()

# Create a new row for 'Others'
new_row_df11 = pd.DataFrame(data = {
    'Name' : ['Others'],
    'TotalSales' : [df11['TotalSales'][3:].sum()]
})

# Concatenate the top 3 dataframe with the new 'Others' row
final_df11 = pd.concat([top_3_df11, new_row_df11])

# Calculating the percentage
final_df11['Percentage'] = (final_df11['TotalSales'] / final_df11['TotalSales'].sum()) * 100

# Display the head of the dataframe 
final_df11.head(5)

In [ ]:
# Plot the data
plot_pie(final_df11, 'Name', 'Percentage', 'Percentage of total sales by media type', colors)

12. How many playlists include each track?

In [ ]:
# 12. How many playlists include each track
query_12 = """
    SELECT 
        t.Name as Track, 
        COUNT(pt.PlaylistId) as PlaylistCount
    FROM 
        Track t
    JOIN 
        PlaylistTrack pt ON t.TrackId = pt.TrackId
    GROUP BY 
        Track
    ORDER BY 
        PlaylistCount DESC;
    """

# Fetch data into a pandas DataFrame
df12 = pd.read_sql_query(query_12, conn)
# Only selecting top 10
df12 = df12.head(10)
# Display the head of the dataframe 
df12.head(5)

In [ ]:
# Plot the data
plot_barh(df12, 'Track', 'PlaylistCount', 'Number of playlists in each track', 'Playlist Count', 'Track')

13. What is the total time length of all tracks sold per genre?

In [ ]:
# 13. Total time length of all tracks sold per genre
query_13 = """
    SELECT 
        g.Name as Genre, 
        SUM(t.Milliseconds) as TotalTime
    FROM 
        Genre g
    JOIN 
        Track t ON g.GenreId = t.GenreId
    JOIN 
        InvoiceLine il ON t.TrackId = il.TrackId
    GROUP BY 
        Genre
    ORDER BY 
        TotalTime DESC;
    """

# Fetch data into a pandas DataFrame
df13 = pd.read_sql_query(query_13, conn)

# Display the head of the dataframe 
df13.head(5)

In [ ]:
# Plot the data
plot_barh(df13, 'Genre', 'TotalTime', 'Total time length of all tracks sold per genre', 'Total Time', 'Genre')

14. What percentage of total revenue does each media type contribute?

In [ ]:
# 14. Percentage of total revenue by each media type
query_14 = """
    SELECT 
        mt.Name as MediaType, 
        SUM(il.UnitPrice * il.Quantity) as TotalRevenue 
    FROM 
        MediaType mt
    JOIN 
        Track t ON mt.MediaTypeId = t.MediaTypeId
    JOIN 
        InvoiceLine il ON t.TrackId = il.TrackId 
    GROUP BY 
        mt.Name;
    """

# Fetch data into a pandas DataFrame
df14 = pd.read_sql_query(query_14, conn)

# Sort the dataframe by 'TotalRevenue'
df14 = df14.sort_values(by='TotalRevenue', ascending=False)

# Create a new dataframe with the top 3
top_3_df14 = df14[:3].copy()

# Create a new row for 'Others'
new_row_df14 = pd.DataFrame(data = {
    'MediaType' : ['Others'],
    'TotalRevenue' : [df14['TotalRevenue'][4:].sum()]
})

# Concatenate the top 3 dataframe with the new 'Others' row
final_df14 = pd.concat([top_3_df14, new_row_df14])

# Calculating the percentage
final_df14['Percentage'] = (final_df14['TotalRevenue'] / final_df14['TotalRevenue'].sum()) * 100

# Display the head of the dataframe 
final_df14.head(5)

In [ ]:
# Plot the data
plot_pie(final_df14, 'MediaType', 'Percentage', 'Percentage of total revenue by media type', colors)

15. What are the top 5 countries by invoice count?

In [ ]:
# 15. Top 5 countries by invoice count
query_15 = """
    SELECT 
        BillingCountry, 
        COUNT(InvoiceId) as TotalInvoices
    FROM 
        Invoice
    GROUP BY 
        BillingCountry
    ORDER BY 
        TotalInvoices DESC
    LIMIT 5;
    """

# Fetch data into a pandas DataFrame
df15 = pd.read_sql_query(query_15, conn)

# Display the head of the dataframe 
df15.head(5)

In [ ]:
# Plot the data
plot_bar(df15, 'BillingCountry', 'TotalInvoices', 'Top 5 countries by invoice count', 'Billing Country', 'Total Invoices')

16. What is the distribution of sales among the different billing cities?

In [ ]:
# 16. Distribution of sales among different billing cities
query_16 = """
    SELECT 
        BillingCity, 
        SUM(Total) as TotalSales
    FROM 
        Invoice
    GROUP BY 
        BillingCity
    ORDER BY 
        TotalSales DESC;
    """

# Fetch data into a pandas DataFrame
df16 = pd.read_sql_query(query_16, conn)

# Selecting top 20 
df16 = df16.head(20)

# Display the head of the dataframe 
df16.head(5)

In [ ]:
# Plot the data
plot_barh(df16, 'BillingCity', 'TotalSales', 'Distribution of sales among different billing cities', 'Total Sales', 'Billing City')

17. How many invoices were there each year?

In [ ]:
# 17. Number of invoices each year
query_17 = """
    SELECT 
        strftime('%Y', InvoiceDate) as Year, 
        COUNT(InvoiceId) as TotalInvoices
    FROM 
        Invoice
    GROUP BY 
        Year
    ORDER BY 
        Year;
    """

# Fetch data into a pandas DataFrame
df17 = pd.read_sql_query(query_17, conn)

# Display the head of the dataframe 
df17.head(5)

In [ ]:
# Plot the data
plot_line(df17, 'Year', 'TotalInvoices', 'Number of invoices each year', 'Year', 'Total Invoices')

18. How many tracks are there in each playlist?

In [ ]:
# 18. Number of tracks in each playlist
query_18 = """
    SELECT 
        p.Name as Playlist, 
        COUNT(pt.TrackId) as TotalTracks
    FROM 
        Playlist p
    JOIN 
        PlaylistTrack pt ON p.PlaylistId = pt.PlaylistId
    GROUP BY 
        Playlist
    ORDER BY 
        TotalTracks DESC;
    """

# Fetch data into a pandas DataFrame
df18 = pd.read_sql_query(query_18, conn)

# Display the head of the dataframe 
df18.head(5)

In [ ]:
# Plot the data
plot_barh(df18, 'Playlist', 'TotalTracks', 'Number of tracks in each playlist', 'Playlist', 'Total Tracks')

19. What is the average invoice total per country?

In [ ]:
# 19. Average invoice total per country
query_19 = """
    SELECT 
        BillingCountry, 
        AVG(Total) as AverageInvoice
    FROM 
        Invoice
    GROUP BY 
        BillingCountry
    ORDER BY 
        AverageInvoice DESC;
    """

# Fetch data into a pandas DataFrame
df19 = pd.read_sql_query(query_19, conn)

# Display the head of the dataframe 
df19.head(5)

In [ ]:
# Plot the data
plot_barh(df19, 'BillingCountry', 'AverageInvoice', 'Average invoice total per country', 'Country', 'Average Invoice')

20. What is the average number of tracks per album?

In [ ]:
# 20. Average number of tracks per album
query_20 = """
    SELECT 
        a.Title as Album, 
        COUNT(t.TrackId) as NumberOfTracks
    FROM 
        Album a
    JOIN 
        Track t ON a.AlbumId = t.AlbumId
    GROUP BY 
        Album
    ORDER BY 
        NumberOfTracks DESC;
    """

# Fetch data into a pandas DataFrame
df20 = pd.read_sql_query(query_20, conn)

# Slecting top 25
df20 = df20.head(25)

# Display the head of the dataframe 
df20.head(5)

In [ ]:
# Plot the data
plot_barh(df20, 'Album', 'NumberOfTracks', 'Average number of tracks per album', 'Album', 'Number Of Tracks')

In [ ]:
# Close the connection
conn.close()